#target1,#target2 {border: 1px solid #FF0000;}
#target1:target,#target2:target {background: #FF0000;}
input:checked {margin-bottom: 100px;}
input:enabled {padding: 10px; cbackground: #FFFF00;}
input:disabled {padding: 10px; background: #0000FF;}
head cs-config {cs-id: 1343446833222;}
