LI {background: #FFFF00; behavior: url(/test/htc/test-htc.htc); color: #FF0000; font-size: 12px; border: 1px solid #FF0000; cs-background-rgba: ;}
head cs-config {cs-id: 1343446831830; muti-classes: ; attr-classes: ; nth-classes: ;}
