i {font-style: normal; font-size: 11px;}
li p {margin: 0px; padding: 0px; font-size: 12px;}
.icon {position: absolute; top: 2px; left: 0;}
.spec {position: absolute; top: 4px; right: 0;}
.spec ul {background: #EEE; padding: 0 0 0 16px; margin: 0;}
.spec>ul,.spec li p {display: none;}
.spec:hover>ul,.spec li:hover>p {display: block;}
.spec>ul {position: absolute; top: 18px; right: 0; width: 200px; border: solid 2px #dddddd;}
.spec>a {font-size: 12px; font-weight: bold; border: solid 2px #FF0000; padding-top: 1px; border-bottom: solid 6px #FF0000; background: #008000; color: #FFF;}
.spec a::after {content: '>>';}
.dev-time {font-style: italic; background: #dddd00; padding-left: 20px; display: none;}
ul.content>li {list-style: none; width: 600px; height: 600px; border: 1px inset #333333; background: #eeeeee; position: absolute; top: 0; left: 60px; z-index: auto; -o-transition-property: -o-transform,background-color; -o-transition-duration: 0.8s; overflow: hidden;}
ul.content {min-height: 650px; position: relative;}
ul.content>li h3 {font-size: 42px;}
ul.content>li:hover h3 {font-size: 22px;}
body ul.content>li:hover {-o-transform: none; height: auto; min-height: 640px; border: none; background: #FFF; z-index: 100; overflow: visiable;}
ul.content>li:nth-child(1) {-o-transform: translate(-136px,-70px) skewY(-30deg) scale(0.45,0.5);}
ul.content>li:nth-child(2) {-o-transform: translate(136px,-70px) skewY(30deg) scale(0.45,0.5);}
ul.content>li:nth-child(3) {-o-transform: translate(0px,160px) rotate(45deg) scale(0.5,0.5) skew(-15deg,-15deg);}
